# Generic.
**/test
**/datasets
**/build
**/runs
**.log
**/.nfs*

# Specific.
code/operon/operon*
code/operon/data.zip
code/operon/results_full.csv.gz
code/operon/problems
code/operon/operon_sources.zip
code/operon/sources
code/operon/r2_test.pdf
code/operon/correction.pdf
code/operon/radar_factory.py
code/operon/operon_experiment.py
code/operon/model_correction.ipynb
code/operon/my_results.csv

# Python.
**/__pycache__

# Jupyter.
**/.ipynb_checkpoints

# MacOS.
**/.DS_Store

# VSCode.
**.vscode